NODE_ENV=development
PORT=5000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
AUTH_SERVICE_URL=http://auth-service:5001
TRAVEL_SERVICE_URL=http://travel-service:5002
TRAIN_SERVICE_URL=http://train-service:5003
PAYMENT_SERVICE_URL=http://payment-service:5004
